--extra-index-url https://download.pytorch.org/whl/cpu
scikit-learn
xgboost==3.0.5
s3fs==0.4.2
sagemaker==3.7.1
sagemaker-core==2.7.1
sagemaker-train==1.7.1
sagemaker-serve==1.7.1
sagemaker-mlops==1.7.1
pandas
gevent
geventhttpclient
mlflow<4
sagemaker-mlflow==0.2.0
packaging<25
